<form #modelF="ngForm">
    <label>Id Facture </label>
    <input type="number" class="form-control" name="idConstat" [(ngModel)]="constat.idConstat" #idConstat="ngModel" disabled>
    
    <label>description</label>
    <input type="text" class="form-control" [(ngModel)]="constat.description" #description="ngModel" name="description"  >
    
    <label>immatricule</label>
    <input type="text" class="form-control" name="immatricule" [(ngModel)]="constat.immatricule" #immatricule="ngModel">
    
    <label>Date Constat</label>
    <input type="date" class="form-control" name="date_Constat" [(ngModel)]="constat.date_Constat" #date_Constat="ngModel">
    
    

    <label>Blessure</label>
    <select  class="form-select" aria-label="Default select example" name="blessure" [(ngModel)]="constat.blessure" #blessure="ngModel">
        <option value="">--Please choose an option--</option>
        <option value=true>true</option>
        <option value=false>false</option>
     </select>
     <br>
    <input type="submit" class="btn btn-primary" value="Update" (click)="UpdateConstat(modelF.value)"> 
</form>
