<table class="table">
    <thead>
      <tr>
        <th scope="col">idConstat</th>
        <th scope="col">description</th>
        <th scope="col">immatricule</th>
        <th scope="col">tauxDegats</th>
        <th scope="col">lieux </th>
        <th scope="col">date_Constat</th>
        <th scope="col">blessure</th>
        <th scope="col"> - </th>
        <th scope="col"> - </th>

       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of ListConstat let i=index;">
        <th scope="row">{{li.id}}</th>
        <td >{{li.description}}</td>
        <td>{{li.immatricule }}</td>
        <td>{{li.tauxDegats  }}</td>
        <td>{{li.lieux }}</td>
        <td>{{li.date_Constat}}</td>
        <td>{{li.blessure}}</td>

        <td>  <button class="btn btn-primary" (click)="Delete(li.id)"> Delete</button></td>
        <td>  <button class="btn btn-primary" (click)="Update(li.id)"> Update</button></td>
        <!-- Ou bien 
       <td>  <button class="btn btn-primary"[routerLink]="'/Invoice/InvoiceHome/update/'+li.idFacture"> Update</button></td>
       
      -->
      </tr>
    </tbody>
  </table>