<div class="card film-item" [routerLink]="'/constat/ConstatHome/detail/'+constat.id">
    <img [src]="photoURL" class="w-100" alt="">
    <div class="film-title">
    
        <p> 
            

          idConstat : {{constat.id}}<br>
          tauxDegats : {{constat.tauxDegats}}<br>
          immatricule :  {{constat.immatricule}} <br>
          description :   {{constat.description}}<br>
          lieux : {{constat.lieux }}<br>
          date_Constat :  {{constat.date_Constat }}<br>
          blessure :  {{constat.blessure}}
        </p>
  
    </div>
  
  </div>
  