<div class="card film-item" [routerLink]="'/constat/ConstatHome/detail/'+constat.id">
    <img [src]="photoURL" class="w-100" alt="">
    <div class="film-title">

        <p style="text-align: center;">

            <strong>idConstat :</strong> {{constat.id}}<br>
                <strong> tauxDegats :</strong> {{constat.tauxDegats}}<br>
                    <strong> immatricule :</strong> {{constat.immatricule}} <br>
                        <strong>description :</strong> {{constat.description}}<br>
                            <strong>lieux :</strong> {{constat.lieux }}<br>
                                <strong>date_Constat :</strong> {{constat.date_Constat }}<br>
                                    <strong> blessure :</strong> {{constat.blessure}}
        </p>

    </div>

</div>