<table class="table">
    <thead>
      <tr>
        <th scope="col">IdReclamation</th>
        <th scope="col">description</th>
        <th scope="col">date_Reclamation</th>

       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of ListReclamation let i=index;">
        <th scope="row">{{li.id}}</th>
        <td >{{li.description}}</td>
        <td>{{li.date}}</td>

        <td>  <button class="btn btn-primary" (click)="Delete(li.id)"> Delete</button></td>
        <td>  <button class="btn btn-primary" (click)="Update(li.id)"> Update</button></td>
        <!-- Ou bien 
       <td>  <button class="btn btn-primary"[routerLink]="'/Invoice/InvoiceHome/update/'+li.idFacture"> Update</button></td>
       
      -->
      </tr>
    </tbody>
  </table>